<table class="calendar">
  {{#each splitInWeeks as |week|}}
  <tr>
    {{#each week as |day|}}
    <td>
      {{#if day.done}}
        {{link-to day.display 'joys' day.link class="done"}}
      {{else}}
        {{day.display}}
      {{/if}}
    </td>
    {{/each}}
  </tr>
  {{/each}}
</table>
