@import 'bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap';
@import 'checkbox';

$dark-blue: #011456;


html, body {
  height: 100%;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-color: $dark-blue;
  color: white;
}

.main {
  padding: 50px 10px 10px 10px;
}

nav.header {
  background: lightgrey;
  height: 50px;
  width: 100%;
  padding: 10px;
  position: fixed;
}

ol {
  text-align: left;
}

input, textarea {
  color: $dark-blue;
}

#title {
  width: 100%;
  font-size: 80px;
}

.underline {
  text-decoration: underline;
}

em {
  font-style: normal;
}

.logged-out.index {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  #title {
    font-size: 50px;
  }
}

.calendar {
  width: 100%;
}

.calendar td {
  height: 35px;
  border-radius: 20px;
}

.calendar .done {
  height: 35px;
  background: lightgrey;
  border-radius: 20px;
}
