body {
  background-color: #011456;
  font-family: 'Lato', sans-serif;
  font-weight: 100%;
}

.checkbox, .checkbox-alt {
  background-color: #fff;
  display: inline-block;
  height: 50px;
  margin: 0 0.25em;
  width: 50px;
  -webkit-animation: opacity 2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.checkmark {
  height: 15px;
  width: 25px;
}

.checkmark:before {
  border-right: 7px solid black;
  border-top: 7px solid black;
  height: 30px;
  width: 15px;
  content: '';
  transform-origin: left top;
  transform: scaleX(-1) rotate(135deg);
  display: block;
  left: 9px;
  position: absolute;
  top: 28px;
  -webkit-animation: width 3s ease;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

@-webkit-keyframes width {
  0% { height: 0; width: 0; }
  25% { height: 0; width: 15px; }
  75% { height: 30px; width: 15px; }
}

.checkmark-2:before {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.checkmark-3:before {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}

@-webkit-keyframes opacity {
  from {opacity: 0;}
  to {opacity: 1;}
}

h1 {
  font-size: 80px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 80;
}
