<h2>Welcome back.</h2>

{{#link-to 'joys' todayLink class="btn btn-primary"}}
  Log Today, {{dayOfWeek}}
{{/link-to}}

<br>

<h3>{{lastDay}}</h3>
<ol>
  {{#each model.joys as |joy|}}
  <li>{{joy}}</li>
  {{/each}}
</ol>

<h3>Last Few Weeks</h3>
{{recent-calendar beforeDate=today}}
