{{#if model.signedIn}}
  {{outlet}}
{{else}}
  <nav class="header">
    <div class="pull-left">
      {{#link-to 'sign-up' class="btn btn-default"}}Sign Up{{/link-to}}
    </div>
    {{#link-to 'home'}}3 Joys{{/link-to}}
    <div class="pull-right">
      {{#link-to 'sign-in' class="btn btn-primary"}}Log In{{/link-to}}
    </div>
  </nav>
  <div class="main logged-out index">
    <h2>Welcome.</h2>
    <p>
      Three Joys is a daily reminder to be thankful for your life.
    </p>
  </div>
{{/if}}
