<nav class="header">
  <a {{action 'back'}}class="btn btn-default pull-left">Back</a>
  {{#link-to 'home'}}3 Joys{{/link-to}}
  <a {{action 'handleAction'}}class="btn btn-primary pull-right">Save</a>
</nav>

<div class="main">
  Here are some settings.
</div>
