<button class="btn btn-lg btn-primary">
  Login with Facebook
</button>
<br>

<button class="btn btn-lg btn-info">
  Login with Twitter
</button>

<br>

<button class="btn btn-lg btn-default">
  Login with Email
</button>
